<div class="dashboard">
    <h1>Tableau de Bord</h1>
    
    <div class="dashboard-sections">
    <div class="section">
            <h2>Utilisateurs</h2>
            <a href="project_management.php">Gérer les Utilisateurs</a>
        </div>
        <div class="section">
            <h2>Projects</h2>
            <a href="project_management.php">Gérer les Projets</a>
        </div>
        <div class="section">
            <h2>Articles</h2>
            <a href="article_management.php">Gérer les Articles</a>
        </div>

        <div class="section">
            <h2>Services</h2>
            <a href="service_management.php">Gérer les Services</a>
        </div>

        <div class="section">
            <h2>Équipe</h2>
            <a href="team_management.php">Gérer l'Équipe</a>
        </div>

        <div class="section">
            <h2>Témoignages</h2>
            <a href="testimonial_management.php">Gérer les Témoignages</a>
        </div>
    </div>
</div>
